.container input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
}

.container input:hover {
  border-color: #646cff;
}
.container input:focus,
.container input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container button {
  margin: 10px;
}

.container span {
  color: red;
  font-size: 10pt;
  text-align: justify;
}

.container form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.containerInputs {
  align-items: center;
  display: flex;
  flex-direction: column;
}