.container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: inline-block;
  height: auto;
  margin: 5px;
  position: relative;
  width: 240px;
}

.card:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: 0.25s;
}

.card img {
  display: block;
  height: auto;
  width: 100%;
}

.btnVisible {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.btnVisible img {
  width: 50px;
}

.btnHidden {
  display: none;
}

.cardsLength {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  transition: border-color 0.25s;
  z-index: 1;
}

.btnFavorite {
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  position: absolute;
  top: 313px;
  left: 0;
  padding: 2px;
  width: 35px;
  z-index: 1;
}

.btnFavorite img {
  width: 30px;
}

.btnDeck {
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  position: absolute;
  top: 313px;
  left: 35px;
  padding: 0;
  width: 32px;
  z-index: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
  .cardsLength {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
