.containerName {
  border: 1px solid white;
  display: flex;
  position: relative;
  top: 30px;
  left: 5%;
  width: 90%;
}

.containerName h1 {
  font-size: 22pt;
  position: relative;
  left: 5%;
}

.containerName div {
  margin-top: 15px;
  position: relative;
  left: 60%;
}

.containerLevel {
  margin-top: 10px;
  position: relative;
  right: 70px;
  top: 40px;
  text-align: right;
}

.containerImage {
  position: relative;
  top: 50px;
}

.cardImg {
  border: 10px solid #6f7082;
  border-radius: 3px;
  box-shadow: 0 0 20px black;
  display: inline-block;
}

.cardImg img {
  box-shadow: 0 0 20px black;
  display: block;
}

.containerType {
  position: relative;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}

.containerAtk {
  margin-top: 10px;
  position: relative;
  text-align: right;
}

.containerAtk span {
  margin-left: 20px;
}

.containerDesc {
  border-bottom: 1px solid white;
  text-align: justify;
}

.containerInfos {
  border: 2px solid white;
  margin-top: 10px;
  padding: 10px;
}

.containerSet {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.set {
  border: 1px solid white;
  padding: 5px;
  width: 180px;
}

.containerPrices {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.containerPrices table {
  border-collapse: collapse;
  width: 100%;
}

.containerPrices table th, td {
  border: 1px solid white;
  margin: 10px;
  padding: 5px;
}

.containerPrices tr:nth-child(even) {
  background-color: #f9f9f9;
}

.normal {
  background-image: url(../images/normal.png);
  background-size: cover;
  color: black;
  width: 750px;
}
