
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300;600&display=swap');

.containerName {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3), -4px -4px 10px rgba(255, 255, 255, 0.3);
  display: flex;
  position: relative;
  top: 30px;
  left: 5%;
  width: 90%;
}

.containerName h1 {
  font-size: 22pt;
  position: relative;
  left: 10px;
  width: 590px;
  text-align: left;
}

.containerName div {
  margin-top: 15px;
  position: absolute;
  left: 88%;
}

.containerName div img {
  width: 70px;
}

.containerLevel {
  margin-top: 10px;
  position: relative;
  right: 70px;
  top: 40px;
  text-align: right;
}

.stars img {
  margin: 1px;
}

.ranks {
  text-align: left;
  position: relative;
  left: 120px;
}

.ranks img {
  margin: 3px;
}

.containerImage {
  position: relative;
  top: 50px;
}

.cardImg {
  border: 10px solid #6f7082;
  border-radius: 3px;
  box-shadow: 0 0 20px black;
  display: inline-block;
}

.cardImg img {
  box-shadow: 0 0 20px black;
  display: block;
  width: 600px;
}

.containerType {
  position: relative;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
}

.containerAtk {
  margin-top: 10px;
  position: relative;
  text-align: right;
}

.containerAtk span {
  font-weight: 600;
  margin-left: 20px;
}

.containerDesc {
  border-bottom: 1px solid black;
  text-align: justify;
}

.containerInfos {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3), -4px -4px 10px rgba(255, 255, 255, 0.3);
  top: 60px;
  margin: 25px;
  padding: 10px;
  position: relative;
}

.containerChild h2 {
  text-transform: uppercase;
  position: relative;
  top: 60px;
}

.containerSet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 50px;
}

.set {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5), -4px -4px 10px rgba(255, 255, 255, 0.3);
  color: white;
  margin: 5px;
  padding: 5px;
  width: 180px;
}

.containerPrices {
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-bottom: 50px;
  position: relative;
  top: 50px;
}

.containerPrices table {
  background-color: rgba(0, 0, 0, 0.3);
  border-collapse: collapse;
  color: white;
  width: 100%;
}

.containerPrices table th, td {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 5px;
}

.containerAttribute {
  position: relative;
  top: 50px;
}

.archetype {
  position: relative;
  top: 25px;
}

.containerImageCard img {
  margin-top: 10px;
  width: 200px;
}

.containerImageCard img:hover {
  width: auto;
}

.section {
  border: 10px solid #6f7082;
  border-radius: 3px;
  box-shadow: 0 0 20px black;
  font-family: 'Ysabeau SC', sans-serif;
}

.normal {
  background-image: url(../images/normal.png);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: black;
  width: 750px;
}

.effect {
  background-image: url(../images/effect.png);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: black;
  width: 750px;
}

.fusion {
  background-image: url(../images/fusion.png);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: black;
  width: 750px;
}

.synchro {
  background-image: url(../images/synchro.png);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: black;
  width: 750px;
}

.link {
  background-image: url(../images/link.png);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: black;
  width: 750px;
}

.xyz {
  background-image: url(../images/xyz.png);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: white;
  width: 750px;
}

.normal_pendulum {
  background-image: url(../images/normal_pendulum.png);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: Black;
  width: 750px;
}

.effect_pendulum {
  background-image: url(../images/effect_pendulum.png);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: Black;
  width: 750px;
}

.fusion_pendulum {
  background-image: url(../images/fusion_pendulum.png);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: Black;
  width: 750px;
}

.synchro_pendulum {
  background-image: url(../images/synchro_pendulum.png);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: Black;
  width: 750px;
}

.xyz_pendulum {
  background-image: url(../images/xyz_pendulum.png);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: Black;
  width: 750px;
}

.ritual {
  background-image: url(../images/obelisk.png);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: Black;
  width: 750px;
}

.spell {
  background-image: url(../images/b-spell.png);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: Black;
  width: 750px;
}

.trap {
  background-image: url(../images/b-trap.png);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: Black;
  width: 750px;
}